@charset "UTF-8";
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-width: 1280px;
  font-family: "NotoSansKR", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: "NotoSansKR", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  word-break: keep-all;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* 네이티브 외형 감추기 */
select::-ms-expand {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
  font-weight: 300;
}

legend,
caption {
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -20000px;
}

header {
  padding: 0 28px 0 10px;
  background: linear-gradient(92deg, #7673bf, #2b2871);
  min-height: 63px;
}

header h1, header .gnb {
  float: left;
}

header h1 {
  width: 263px;
  padding-top: 12px;
}

header h1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header .gnb {
  margin-left: 15px;
}

header .my_info {
  float: right;
  color: #fff;
  padding-top: 7px;
}

header .my_info strong {
  display: block;
  font-size: 18px;
}

header .my_info p {
  float: left;
  text-align: right;
}

header .my_info .btn {
  float: left;
  margin: 4px 0 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

header .my_info:after {
  content: "";
  display: block;
  clear: both;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

.gnb ul:after {
  content: "";
  display: block;
  clear: both;
}

.gnb li {
  float: left;
  border-right-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.gnb li:first-child {
  border-left-width: 1px;
}

.gnb a {
  display: inline-block;
  padding: 10px 25px 9px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.gnb a img {
  display: block;
  margin: 0 auto;
}

.lnb {
  width: 273px;
  height: calc(100vh - 63px);
  background: #fff;
  overflow-y: hidden;
}

.lnb .inner {
  overflow-y: auto;
  height: calc(100vh - 171px);
}

.lnb .info {
  padding: 28px 20px;
  height: 108px;
  font-size: 20px;
  font-weight: 700;
  color: #343a40;
  line-height: 1.3;
}

.lnb a {
  display: block;
  position: relative;
  width: 100%;
  padding: 13px;
  min-height: 54px;
  font-size: 16px;
  font-weight: 200;
  color: #343a40;
}

.lnb .depth1 > li {
  border-bottom: 1px solid #f5f5f5;
}

.lnb .depth1 > li:first-child {
  border-top: 1px solid #f5f5f5;
}

.lnb .depth1 > li > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  right: 13px;
  width: 0px;
  height: 0px;
  border-top: 6px solid #cecece;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid  transparent;
}

.lnb .depth1 > li.on:first-child {
  border-top: none;
}

.lnb .depth1 > li.on > a {
  background: #e9ecef;
  color: #1676ff;
  font-weight: 700;
}

.lnb .depth1 > li.on > a:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 32px;
  margin-top: -16px;
  background: #1676ff;
}

.lnb .depth1 > li.on > a:after {
  top: 18px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #000;
  border-right: 6px solid transparent;
  border-left: 6px solid  transparent;
}

.lnb .depth1 > li.on .depth2 {
  height: auto;
}

.lnb .depth2 {
  display: none;
  background: #fbfbfb;
}

.lnb .depth2 > li > a {
  padding: 10px 10px 10px 50px;
  min-height: 40px;
  font-size: 14px;
  color: #868e96;
}

.lnb .depth2 > li > a:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background: #dee2e6;
  border-radius: 100%;
}

.lnb .depth2 > li > a.on {
  font-weight: 700;
  text-decoration: underline;
  background: #f1f3f5;
  color: #000;
}

.lnb .depth2 > li > a.on:before {
  background: #343a40;
}

.container {
  width: 100%;
  height: 100%;
}

.container .lnb {
  float: left;
}

.container .contents {
  float: left;
  width: calc(100% - 273px);
  height: calc(100vh - 63px);
  padding: 0 16px 16px;
  background-color: #f8f9fa;
  -webkit-box-shadow: inset 3px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 3px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container .contents .cont {
  height: calc(100vh - 131px);
}

.container .contents .inner {
  height: 36%;
  overflow-y: auto;
}

.container .contents .inner:first-child {
  height: 60%;
}

.container h3 {
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

.container h3 span {
  padding-left: 24px;
  font-size: 16px;
  font-weight: 200;
  color: #343a40;
}

.container h4 {
  font-weight: 700;
  color: #343a40;
}

.container .top_title_box {
  padding: 20px 0;
}

.container .top_title_box h3, .container .top_title_box h4, .container .top_title_box .tab_btn_area {
  float: left;
}

.container .top_title_box .right_btn {
  float: right;
}

.container .top_title_box:after {
  content: "";
  display: block;
  clear: both;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.w600 {
  width: 600px;
}

.login_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #d5dce7), to(#b0b9cf)), -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#dcdcdc)), -webkit-gradient(linear, left top, left bottom, from(#bbc6d7), to(#bbc6d7));
  background: linear-gradient(to bottom, #d5dce7 1%, #b0b9cf), linear-gradient(to bottom, #dcdcdc, #dcdcdc), linear-gradient(to bottom, #bbc6d7, #bbc6d7);
}

.login_area .cont {
  position: relative;
  width: 1160px;
  height: 540px;
  background: #f8f8f8;
}

.login_area .cont:before {
  content: '';
  display: block;
  position: absolute;
  top: 86px;
  left: 20px;
  width: 80px;
  height: 25px;
  background: url(../images/img_sub_logo.png) no-repeat;
}

.login_area .cont:after {
  content: "";
  display: block;
  clear: both;
}

.login_area .login_text {
  float: left;
  width: 600px;
  height: 600px;
  margin: -30px 0 0 132px;
  padding: 103px 0 0 80px;
  color: #fff;
  font-weight: 500;
  background-image: linear-gradient(135deg, #7673bf, #2b2871);
}

.login_area .login_text h1 {
  font-size: 45px;
  line-height: 1.4;
}

.login_area .login_text p {
  margin-top: 20px;
  font-size: 18px;
}

.login_area .login_form {
  float: left;
  width: 428px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_area .login_form > div {
  width: 280px;
}

.login_area .login_form h3 {
  font-size: 24px;
  font-weight: 700;
}

.login_area .login_form .round_input {
  margin-top: 10px;
}

.login_area .login_form .info_area {
  margin-top: 5px;
  overflow: hidden;
}

.login_area .login_form .info_area > a {
  float: left;
  line-height: 22px;
}

.login_area .login_form .info_area > .round_chk {
  float: right;
}

.login_area .login_form .btn_area {
  margin-top: 30px;
}

.login_area .copy {
  position: fixed;
  left: 0;
  bottom: 37px;
  width: 100%;
  text-align: center;
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline-style: none;
  border: none;
  font-family: "NotoSansKR", Roboto, "Helvetica Neue", sans-serif;
}

.round_input input[type="text"],
.round_input input[type="email"],
.round_input input[type="search"],
.round_input input[type="number"],
.round_input input[type="tel"],
.round_input input[type="password"] {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 12px;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 22px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.round_input input[type="text"]::-webkit-input-placeholder,
.round_input input[type="email"]::-webkit-input-placeholder,
.round_input input[type="search"]::-webkit-input-placeholder,
.round_input input[type="number"]::-webkit-input-placeholder,
.round_input input[type="tel"]::-webkit-input-placeholder,
.round_input input[type="password"]::-webkit-input-placeholder {
  color: #868e96;
  font-weight: 300;
}

.round_input input[type="text"]:-ms-input-placeholder,
.round_input input[type="email"]:-ms-input-placeholder,
.round_input input[type="search"]:-ms-input-placeholder,
.round_input input[type="number"]:-ms-input-placeholder,
.round_input input[type="tel"]:-ms-input-placeholder,
.round_input input[type="password"]:-ms-input-placeholder {
  color: #868e96;
  font-weight: 300;
}

.round_input input[type="text"]::-ms-input-placeholder,
.round_input input[type="email"]::-ms-input-placeholder,
.round_input input[type="search"]::-ms-input-placeholder,
.round_input input[type="number"]::-ms-input-placeholder,
.round_input input[type="tel"]::-ms-input-placeholder,
.round_input input[type="password"]::-ms-input-placeholder {
  color: #868e96;
  font-weight: 300;
}

.round_input input[type="text"]::placeholder,
.round_input input[type="email"]::placeholder,
.round_input input[type="search"]::placeholder,
.round_input input[type="number"]::placeholder,
.round_input input[type="tel"]::placeholder,
.round_input input[type="password"]::placeholder {
  color: #868e96;
  font-weight: 300;
}

.round_input input[type="text"]:focus,
.round_input input[type="email"]:focus,
.round_input input[type="search"]:focus,
.round_input input[type="number"]:focus,
.round_input input[type="tel"]:focus,
.round_input input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.round_input input[type="text"]::-ms-clear,
.round_input input[type="email"]::-ms-clear,
.round_input input[type="search"]::-ms-clear,
.round_input input[type="number"]::-ms-clear,
.round_input input[type="tel"]::-ms-clear,
.round_input input[type="password"]::-ms-clear {
  display: none;
}

.txt_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.txt_input label {
  display: inline-block;
  min-width: 100px;
  min-height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #7d86a9;
}

.txt_input label strong {
  margin-left: 4px;
  color: #ff1717;
}

.txt_input input[type="text"],
.txt_input input[type="email"],
.txt_input input[type="search"],
.txt_input input[type="number"],
.txt_input input[type="tel"],
.txt_input input[type="password"] {
  display: inline-block;
  min-width: calc(100% - 100px);
  min-height: 40px;
  padding: 9px 10px;
  background: #fff;
  border: 1px solid #dee2e6;
  font-size: 14px;
  color: #000;
}

.txt_input input[type="text"]::-webkit-input-placeholder,
.txt_input input[type="email"]::-webkit-input-placeholder,
.txt_input input[type="search"]::-webkit-input-placeholder,
.txt_input input[type="number"]::-webkit-input-placeholder,
.txt_input input[type="tel"]::-webkit-input-placeholder,
.txt_input input[type="password"]::-webkit-input-placeholder {
  color: #868e96;
}

.txt_input input[type="text"]:-ms-input-placeholder,
.txt_input input[type="email"]:-ms-input-placeholder,
.txt_input input[type="search"]:-ms-input-placeholder,
.txt_input input[type="number"]:-ms-input-placeholder,
.txt_input input[type="tel"]:-ms-input-placeholder,
.txt_input input[type="password"]:-ms-input-placeholder {
  color: #868e96;
}

.txt_input input[type="text"]::-ms-input-placeholder,
.txt_input input[type="email"]::-ms-input-placeholder,
.txt_input input[type="search"]::-ms-input-placeholder,
.txt_input input[type="number"]::-ms-input-placeholder,
.txt_input input[type="tel"]::-ms-input-placeholder,
.txt_input input[type="password"]::-ms-input-placeholder {
  color: #868e96;
}

.txt_input input[type="text"]::placeholder,
.txt_input input[type="email"]::placeholder,
.txt_input input[type="search"]::placeholder,
.txt_input input[type="number"]::placeholder,
.txt_input input[type="tel"]::placeholder,
.txt_input input[type="password"]::placeholder {
  color: #868e96;
}

.txt_input input[type="text"]:focus,
.txt_input input[type="email"]:focus,
.txt_input input[type="search"]:focus,
.txt_input input[type="number"]:focus,
.txt_input input[type="tel"]:focus,
.txt_input input[type="password"]:focus {
  outline: none;
}

.txt_input input[type="text"]::-ms-clear,
.txt_input input[type="email"]::-ms-clear,
.txt_input input[type="search"]::-ms-clear,
.txt_input input[type="number"]::-ms-clear,
.txt_input input[type="tel"]::-ms-clear,
.txt_input input[type="password"]::-ms-clear {
  display: none;
}

.txt_input input[readonly] {
  color: #adb5bd;
  background: #e9ecef;
}

.txt_input .select_box {
  display: inline-block;
  position: relative;
  min-width: calc(100% - 100px);
}

.txt_input .select_box select {
  display: inline-block;
  width: 100%;
  min-height: 40px;
  padding: 9px 34px 9px 10px;
  background: #fff;
  border: 1px solid #dee2e6;
  color: #000;
  border-radius: 0px;
}

.txt_input .select_box select::-ms-expand {
  display: none;
}

.txt_input .select_box:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  right: 16px;
  width: 0;
  height: 0;
  border-top: 6px solid #cecece;
  border-right: 6px solid transparent;
  border-left: 6px solid  transparent;
}

.txt_input.btr {
  position: relative;
}

.txt_input.btr .btn {
  position: absolute;
  top: 0;
  right: 0;
}

.txt_input + .txt_input {
  margin-top: 10px;
}

input[type=radio]:not(old),
input[type=checkbox]:not(old) {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.round_chk {
  position: relative;
}

.round_chk label {
  display: inline-block;
  padding-left: 22px;
  min-height: 20px;
  line-height: 20px;
  font-size: 10px;
  cursor: pointer;
}

.round_chk label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../images/ico_check_off.png) no-repeat;
  background-size: 100% 100%;
}

.round_chk input:checked + label {
  color: #000;
  font-weight: 700;
}

.round_chk input:checked + label:before {
  background: url(../images/ico_check_on.png) no-repeat;
  background-size: 100% 100%;
}

.btn_area {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  background: #dee2e6;
  color: #fff;
}

.btn.active {
  background: #2b2871;
}

.btn.square {
  border-radius: 0;
  background: #005bff;
  font-size: 14px;
  padding: 0 30px;
}

.btn:disabled {
  background: #dee2e6;
  color: #fff;
}

.btn_txt {
  display: inline-block;
  color: #868e96;
  font-size: 10px;
}

.ic_btn {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 38px;
  font-size: 16px;
  font-weight: 200;
  color: #343a40;
}

.ic_btn [class^=i_] {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.i_refresh {
  background: url(../images/ico_refresh.png) no-repeat;
}

.i_add {
  background: url(../images/ico_add.png) no-repeat;
}

.i_del {
  background: url(../images/ico_del.png) no-repeat;
}

.i_modify {
  background: url(../images/ico_check_on.png) no-repeat;
}

.i_cancle {
  background: url(../images/ico_cancle.png) no-repeat;
}

.i_event {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../images/ico_event.png) no-repeat;
}

.form_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.form_box .btn_box {
  margin: 10px 0 10px 100px;
}

.form_box > div + div.w600 {
  margin-left: 90px;
}

.form_box .sub_txt {
  margin-top: -10px;
  margin-bottom: 20px;
  color: #3f3f3f;
}

.list_box {
  width: 45%;
}

.list_box:first-child {
  margin-right: 10%;
}

.list_box h5 {
  padding: 0 0 10px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #7d86a9;
}

.list_box h5 strong {
  margin-left: 4px;
  color: #ff1717;
}

.list_box .basic_tbl {
  min-height: 290px;
  background: #fff;
  border: 1px solid #e9ecef;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list_box + .btn_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55px, 0);
          transform: translate(-55px, 0);
  width: 110px;
  margin: 0;
  text-align: center;
}

.event_box {
  position: fixed;
  bottom: 16px;
  width: calc(100% - 305px);
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #343a40;
  background: #f1f3f5;
}

.basic_tbl {
  width: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.basic_tbl table thead th {
  padding: 10px 20px;
  color: #7d86a9;
  background: #f1f3f5;
  border-bottom: 1px solid #e9ecef;
  text-align: left;
}

.basic_tbl table tbody tr:first-child td {
  border-top: none;
}

.basic_tbl table tbody tr:nth-child(odd) td {
  background: #fff;
}

.basic_tbl table tbody tr:nth-child(even) td {
  background: #f8f9fa;
}

.basic_tbl table tbody td {
  padding: 10px 20px;
  font-weight: 700;
  color: #343a40;
  border-top: 1px solid #e9ecef;
  text-align: left;
}

.basic_tbl table tbody td:first-child {
  padding-left: 30px;
  text-align: center;
}

.basic_tbl table tbody td .round_chk {
  line-height: 1;
}

.tab_btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab_btn_area li {
  position: relative;
  min-width: 120px;
}

.tab_btn_area li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 13px;
  text-align: center;
  font-weight: 700;
  color: #adb5bd;
}

.tab_btn_area li.on a {
  color: #343a40;
}

.tab_btn_area li.on a::after {
  content: '';
  position: absolute;
  left: 13px;
  bottom: -23px;
  display: block;
  width: calc(100% - 26px);
  height: 4px;
  background: #343a40;
}

.tab_cont_area .tab_cont {
  display: none;
}

.tab_cont_area .tab_cont .form_box {
  padding: 20px 0;
  border-top: 1px solid #ced4da;
}

.tab_cont_area .tab_cont .form_box:last-child {
  padding-bottom: 0;
}
